<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springBean1"
          class="com.example.xml.context.beans.SpringBean1">
        <constructor-arg ref="springBean2"/>
        <constructor-arg ref="springBean3"/>
    </bean>

    <bean id="springBean2"
          class="com.example.xml.context.beans.SpringBean2"/>

    <bean id="springBean3"
          class="com.example.xml.context.beans.SpringBean3"/>

</beans>
